<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GV AI EXPLAINABILITY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{% static 'pages/Artificial-Intelligence-Trends.jpeg' %}"/>
    <style>
        .bs-example {
            margin: 20px;
        }

        .imgbox {
            display: grid;
            height: 100%;
        }

        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"></nav>

<main role="main">

    <div style="padding: 50px 0px 5px!important" class="jumbotron">
        <div class="container">
            <div class="row justify-content-start">

                <div class="col">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <h5 class="text-danger display-4" {% if message.tags %} class="{ message.tags }}" {% endif %}>
                            {{message}}
                        </h5>

                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div style="padding: 15px 0px 10px!important" class="d-flex justify-content-end">
                    <div class="col-md">
                        <h5>Want to make another diabetes prediction?</h5>
                        <p><a style="width: 390px !important;" class="btn btn-secondary text-info"
                              href="/mlpart/diabetes/" role="button">Go Ahead »</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <h5>
            <p>But you may be wondering, how did we come to that outcome? We used a Logistic Regression model to make the
            prediction, that was trained with the following dataset: <a href="https://www.kaggle.com/uciml/pima-indians-diabetes-database">Pima Indians Diabetes Data Set</a>.
            To explain the model both globally and locally, we will use the KernelExplainer in SHAP.
            The plots were made using the data (650 observations) that were used to train the model.
            </p><br><br>
            <p>&rarr;Firstly we will explain the entire dataset through the visualization of the importance of the features and
            their impact on the prediction.For that we will use the <i>'Variance Importance'</i> and <i>'Summary' plots</i>.</p>
        </h5>
        <br>

        <div class="container" align="center">
            <div class="row justify-content-start">

                <div class="container">
                    <h4>&check;Explaining the entire dataset:</h4>
                    <br>
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'Variable Importance Plot ')"
                                id="defaultOpen">Variable Importance Plot
                        </button>
                        <button class="tablinks" onclick="openCity(event, 'Summary Plot')">Summary Plot</button>
                    </div>
                    <br>
                </div>

                <div id="Variable Importance Plot " class="tabcontent">
                    <h6><p>The variable importance plot lists the most significant variables in descending order. The top
                    variables
                    contribute more to the model than the bottom ones and thus have high predictive power. So in this
                    case
                    "Glucose" and "BMI" contribute more to the predicted outcome when "Skin Thickness" does not seem to
                    change
                    the choice of the model in any significant way.</p></h6>
                    <img src="{% static 'mlpart/DiabetesSPbarGlobaltestdata.jpeg' %}"/>
                </div>

                <div id="Summary Plot" class="tabcontent">
                    <h6><p>Another option to explain our model globally is the "Summary Plot" and it works as follows:<br>
                    ->Feature importance: Variables are ranked in descending order.<br>
                    ->Impact: The horizontal location shows whether the effect of that value is associated with a higher
                    or lower prediction.<br>
                    ->Original value: Color shows whether that variable is high (in red) or low (in blue) for that
                    observation.<br>
                    ->Correlation: A high level of the “Glucose” content has a high and positive impact on the
                    prediction. The “high” comes from the red color,
                    and the “positive” impact is shown on the X-axis. Similarly, we will say the “Blood Pressure” is
                    negatively correlated with the target variable.</p></h6>
                    <img src="{% static 'mlpart/DiabetesSPGlobaldataNEW.jpeg' %}"/>
                </div>

            </div>
            <br>
        </div>
    </div>
    <br>

    <div class="container">
        <h5>
            <p>&rarr;Secondly, we will focus on explaining single features by plotting the SHAP value of that feature vs. the
            value of the feature for all instances in the dataset. We will do that by plotting <i>Partial Dependence Plots</i>.
            The partial dependence plot shows the marginal effect one or two features have on the predicted outcome of a machine
                learning model.The function automatically includes another variable that your chosen variable interacts most with.</p>
        </h5>
        <br>

        <div class="container" align="center">
            <div class="row justify-content-start">

                <div class="container">
                    <h4>&check;Explaining single feature:</h4>
                    <br>
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'Pregnancies')" id="defaultOpen1">
                            Pregnancies
                        </button>
                        <button class="tablinks" onclick="openCity(event, 'Glucose')">Glucose</button>
                        <button class="tablinks" onclick="openCity(event, 'BloodP')">Blood Pressure</button>
                        <button class="tablinks" onclick="openCity(event, 'SkinT')">Skin Thickness</button>
                        <button class="tablinks" onclick="openCity(event, 'Insulin')">Insulin</button>
                        <button class="tablinks" onclick="openCity(event, 'BMI')">BMI</button>
                        <button class="tablinks" onclick="openCity(event, 'Diabetes Pedigree')">Diabetes Pedigree
                            Function
                        </button>
                        <button class="tablinks" onclick="openCity(event, 'Age')">Age</button>
                    </div>
                    <br>
                </div>

                <div id="Pregnancies" class="tabcontent">
                    <h6><p>
                        The following plot below shows a linear but positive relationship between
                        “Pregnancies” and the target variable. Specifically, the more the pregnancies the more likely is
                        for diabetes to occur. Also the interaction between "Pregnancies" and "Glucose" appears frequent.
                    </p></h6><br>
                    <img src="{% static 'mlpart/DiabetesDPPregnanciesdata.jpeg' %}"/>
                </div>

                <div id="Glucose" class="tabcontent">
                    <h6><p>
                        The following plot shows there is an approximately linear and positive trend between “Glucose” and
                        the target variable, thus if a higher “Glucose” value is reported, the chances of diabetes are increasing.
                    </p></h6><br>
                    <img src="{% static 'mlpart/DiabetesDPGlucosedata.jpeg' %}"/>
                </div>

                <div id="BloodP" class="tabcontent">
                    <h6><p>
                        The following plot shows there is a complex and somewhat negative trend between “Blood Pressure” and
                        the target variable. Specifically we can deduce that if the person has a higher "BMI", "Blood Pressure"
                        influences positively the target outcome. When "BMI" is at normal levels, we see that “Blood Pressure”
                        influences the model outcome negatively.
                    </p></h6><br>
                    <img src="{% static 'mlpart/DiabetesDPBloodPdata.jpeg' %}"/>
                </div>

                <div id="SkinT" class="tabcontent">
                    <h6><p>
                        The plot below shows there exists a neutral relationship between “Skin Thickness” and
                        the target variable,which means that skin Thickness does not influence the prediction much.
                    </p></h6><br>
                    <img src="{% static 'mlpart/DiabetesDPSkinTdata.jpeg' %}"/>
                </div>

                <div id="Insulin" class="tabcontent">
                    <h6><p>
                        The plot below shows there exists a negative relationship between “Insulin” and the target variable.
                        When the "Insulin" value starts to increase, the prediction starts to be influenced negatively.
                    </p></h6><br>
                    <img src="{% static 'mlpart/DiabetesDPInsulindata.jpeg' %}"/>
                </div>

                <div id="BMI" class="tabcontent">
                    <h6><p>
                        The following plot shows there is an approximately linear and positive trend between “BMI” and the
                         target variable. Also “BMI” interacts with “Glucose” frequently.
                    </p></h6><br>
                    <img src="{% static 'mlpart/DiabetesDPBMIdata.jpeg' %}"/>
                </div>

                <div id="Diabetes Pedigree" class="tabcontent">
                    <h6><p>
                        The following plot shows there is an approximately linear and somewhat positive trend between
                        “Diabetes Pedigree” and the target variable, but “Diabetes Pedigree” does not interacts
                        with “Glucose” frequently.
                    </p></h6><br>
                    <img src="{% static 'mlpart/DiabetesDPPedigreedata.jpeg' %}"/>
                </div>

                <div id="Age" class="tabcontent">
                    <h6><p>
                        The following plot shows there is an approximately linear and somewhat positive trend between “Age”
                        and the target variable. When "Age" starts to increase, a slight positive effect to the outcome is being
                        recorded.
                    </p></h6><br>
                    <img src="{% static 'mlpart/DiabetesDPAgedata.jpeg' %}"/>
                </div>

            </div>
            <br>
        </div>
    </div>

    <br>

    <div class="container">
        <h5>
            <p>&rarr;Finally, we will focus on local Interpretability by randomly choosing a few observations. With the help of
            SHAP,
            we can generate explanations for a single prediction.
            The <i>SHAP Force plot</i> shows features that contribute to pushing the output from the base value (average model
            output) to the actual predicted value.
            <span style="color:red">Red color</span> indicates features that are pushing the prediction higher, and <span style="color:dodgerblue">blue color</span> indicates just the
                opposite.</p>
        </h5>
        <br>

        <div class="container" align="center">
            <div class="row justify-content-start">

                <div class="container">
                    <h4>&check;Explaining single prediction:</h4>
                    <br>
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, '171')">Observation 171</button>
                        <button class="tablinks" onclick="openCity(event, '404')">Observation 404</button>
                        <button class="tablinks" onclick="openCity(event, '593')">Observation 593</button>
                        <button class="tablinks" onclick="openCity(event, '32')">Observation 32</button>
                    </div>
                    <br>
                </div>


                <div id="171" class="tabcontent">
                    <h6><p>The output value is the prediction for that observation. In this observation the output is 1.0 which
                    means that the person
                    will develop diabetes in the future. As we can see "Blood Pressure", "Diabetes Pedigree", "BMI",
                    "Glucose" and "Pregnancies" have
                    a positive rating on the diabetes prediction,so they push the prediction to the right.</p></h6><br>
                    <img src="{% static 'mlpart/DiabeyesFP171.jpg' %}"/>
                </div>

                <div id="404" class="tabcontent">
                    <h6><p>The output value is the prediction for that observation. In this observation the output is 1.0 which
                    means that the person
                    will develop diabetes in the future. As we can see "Pregnancies","BMI" and "Glucose" have a positive
                    rating on the diabetes
                    prediction,so they push the prediction to the right, while "Diabetes Pedigree" has a negative impact
                    on the prediction.
                    driving the prediction to the left.</p></h6><br>
                    <img src="{% static 'mlpart/DiabetesSP404.jpg' %}"/>
                </div>

                <div id="593" class="tabcontent">
                    <h6><p>The output value is the prediction for that observation. In this observation the output is 0.0 which
                    means that the person
                    will not develop diabetes in the future. As we can see "Blood Pressure" and "Diabetes Pedigree" have a
                    positive rating on the diabetes
                    prediction,so they push the prediction to the right, while "Glucose","BMI","Pregnancies" and "Age"
                    have a negative impact on the prediction.
                    driving the prediction to the left.</p></h6><br>
                    <img src="{% static 'mlpart/DiabetesFP593.jpg' %}"/>
                </div>

                <div id="32" class="tabcontent">
                    <h6><p>The output value is the prediction for that observation. In this observation the output is 0.5 which
                    means that the person
                    might or might not develop diabetes in the future. As we can see "Blood Pressure" has
                    a positive rating on the diabetes prediction,so it pushes the prediction to the right, while
                    "Glucose","BMI","Diabetes Pedigree",
                    "Pregnancies" and "Age" have a negative rating on the diabetes prediction,so they push the
                    prediction to the left.</p></h6><br>
                    <img src="{% static 'mlpart/DiabetesFP32.jpg' %}"/>
                </div>

            </div>
            <br>

        </div>
    </div>

    <br>


</main>
<hr>
<footer style="padding: 5px 0px 5px!important" class="container">
    <p>© Varvarigos Georgios 2020-2021</p>
</footer>


<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen", "defaultOpen1").click();

</script>
</body>
</html>