{% block content %}
<div id="container" style="width: 75%;">
    <div class="js-gauge demo gauge" data-url="{% url 'polls:get-percentage' question.id %}"></div>
</div>
<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>-->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="js/kuma-gauge.jquery.js"></script>

<script>
    $('.demo').kumaGauge({
  // dynamic value-up<a href="https://www.jqueryscript.net/time-clock/">date</a>. just for sample.
  value : Math.floor((Math.random() * 99) + 1),
});
</script>
{% endblock %}
