{% block content %}
<div id="container" style="width: 100%;">

    <canvas id="choice-chart" style="width: 100% ;" data-url="{% url 'polls:get-percentage' question.id %}"></canvas>

    <div class="d-flex justify-content-center">
        <a style="width: 280px !important;  " class="btn btn-secondary"
           href="{% url 'polls:leapquestion' question.id %}" role="button">Continue »</a>
    </div>

    <hr>

    <footer class="container" style="padding: 10px 0px 10px!important">
        <p>© Varvarigos Georgios 2020-2021</p>
    </footer>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
    $(function () {

        var $x = $("#choice-chart");
        $.ajax({
            url: $x.data("url"),
            success: function (data) {
                var ctx = $x[0].getContext('2d');
                var ctx = new Chart(ctx, {

                    type: 'horizontalBar',
                    data: {
                        labels: data.responsibilty,
                        datasets: [{
                            label: data.responsibilty,
                            data: data.data,
                            barThickness: 70,
                            // borderColor: 'rgb(238,192,255)',
                            backgroundColor: 'rgb(59,65,177)',

                        }]
                    },
                    options:
                        {
                            scales: {
                                xAxes: [{
                                    ticks: {
                                        fontColor: "#000",
                                        fontSize: 17
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        fontColor: "#000",
                                        fontSize: 18
                                    }
                                }],
                                responsive: true,
                            },

                        },
                });
            }
        });
    });
</script>
{% endblock %}