<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>GV: AI EXPLAINABILITY</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'pages/Artificial-Intelligence-Trends.jpeg' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/indexpolls.css' %}">

    <!--    <header class="header">-->
    <!--        <div class="text">Welcome to AI EXPLAINABILITY FRAMEWORK-->
    <!--        </div>-->
    <!--    </header>-->

</head>


<!--<div style="background: url(https://pixabay.com/get/57e3d6434857ae14f6d1867dda3536781539dced5a517048_1920.jpg)"-->
<div class="text-center">
    <h3>Polls Available</h3>
</div>

<section class="container">

    <div class="alpha">
         {% if latest_question_list2 %}
    <ul>
        {% for question in latest_question_list %}
        <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
        {% endfor %}
    </ul>
    {% endif %}
    </div>


<!--    <div class="beta">-->
<!--        {% if latest_question_list2 %}-->
<!--        <ul>-->
<!--            {% for question in latest_question_list %}-->
<!--            <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--        {% endif %}-->
<!--    </div>-->


</section>
<footer class="footer">
    Varvarigos Georgios, AM 5999.
</footer>

</html>

