<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>GV: AI EXPLAINABILITY</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--   <script src="stylesheet" href="bootstrap.bundle.min.js / bootstrap.bundle.js"></script>-->

    <link rel="shortcut icon" href="{% static 'pages/Artificial-Intelligence-Trends.jpeg' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/indexpolls.css' %}">

    <!--    <header class="header">-->
    <!--        <div class="text">Welcome to AI EXPLAINABILITY FRAMEWORK-->
    <!--        </div>-->
    <!--    </header>-->

</head>


<!--<div style="background: url(https://pixabay.com/get/57e3d6434857ae14f6d1867dda3536781539dced5a517048_1920.jpg)"-->
<div class="text-center">
    <h3>Polls Available</h3>
    <a href="/" class="buttonHome">Go Home</a>
</div>

<section class="container">

    <div class="alpha">
        <div class="header1">
            <h3>Organizations</h3>
        </div>


        <div class="dropdown">
            <button id="myBtn" class="dropbtn">Responsibilty</button>
            <div id="myDropdown" class="dropdown-content">
                {% for question in latest_question_list %}
                <a class="dropdown-item" href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
                {% endfor %}
            </div>
        </div>


        <div class="dropdown">
            <button id="myBtn2" class="dropbtn">Explainability</button>
            <div id="myDropdown2" class="dropdown-content">
                {% for question in latest_question_list2 %}
                <a class="dropdown-item" href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
                {% endfor %}
            </div>
        </div>


        <div class="dropdown">
            <button id="myBtn3" class="dropbtn">Autability</button>
            <div id="myDropdown3" class="dropdown-content">
                {% for question in latest_question_list3 %}
                <a class="dropdown-item" href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown">
            <button id="myBtn4" class="dropbtn">Accuracy</button>
            <div id="myDropdown4" class="dropdown-content">
                {% for question in latest_question_list4 %}
                <a class="dropdown-item" href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown">
            <button id="myBtn5" class="dropbtn">Fairness</button>
            <div id="myDropdown5" class="dropdown-content">
                {% for question in latest_question_list5 %}
                <a class="dropdown-item" href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown">
            <button id="myBtn6" class="dropbtn">Communication</button>
            <div id="myDropdown6" class="dropdown-content">
                {% for question in latest_question_list6 %}
                <a class="dropdown-item" href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown">
            <button id="myBtn7" class="dropbtn">Accesibility</button>
            <div id="myDropdown7" class="dropdown-content">
                {% for question in latest_question_list7 %}
                <a class="dropdown-item" href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
                {% endfor %}
            </div>
        </div>
        </nav>
    </div>


    <div class="beta">
        <div class="header1">
            <h3>Algorithms</h3>
        </div>
        <div class="dropdown">
            <button id="myBtn8" class="dropbtn">Data</button>
            <div id="myDropdown8" class="dropdown-content">
                {% for question in latest_question_list8 %}
                <a class="dropdown-item" href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown">
            <button id="myBtn9" class="dropbtn">The model</button>
            <div id="myDropdown9" class="dropdown-content">
                {% for question in latest_question_list9 %}
                <a class="dropdown-item" href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown">
            <button id="myBtn10" class="dropbtn">Inferencing</button>
            <div id="myDropdown10" class="dropdown-content">
                {% for question in latest_question_list10 %}
                <a class="dropdown-item" href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown">
            <button id="myBtn11" class="dropbtn">Agorithmic Presence</button>
            <div id="myDropdown11" class="dropdown-content">
                {% for question in latest_question_list11 %}
                <a class="dropdown-item" href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="dropdown">
            <button id="myBtn12" class="dropbtn">Performance Evaluation</button>
            <div id="myDropdown12" class="dropdown-content">
                {% for question in latest_question_list12 %}
                <a class="dropdown-item" href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
                {% endfor %}
            </div>
        </div>
    </div>


    <script>
        // Get the button, and when the user clicks on it, execute myFunction
        document.getElementById("myBtn").onclick = function () {
            myFunction()
        };

        /* myFunction toggles between adding and removing the show class, which is used to hide and show the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("dropdown-content");
        }

        document.getElementById("myBtn2").onclick = function () {
            myFunction2()
        };

        function myFunction2() {
            document.getElementById("myDropdown2").classList.toggle("dropdown-content");
        }

        document.getElementById("myBtn3").onclick = function () {
            myFunction3()
        };

        function myFunction3() {
            document.getElementById("myDropdown3").classList.toggle("dropdown-content");
        }

        document.getElementById("myBtn4").onclick = function () {
            myFunction4()
        };

        function myFunction4() {
            document.getElementById("myDropdown4").classList.toggle("dropdown-content");
        }

        document.getElementById("myBtn5").onclick = function () {
            myFunction5()
        };

        function myFunction5() {
            document.getElementById("myDropdown5").classList.toggle("dropdown-content");
        }

        document.getElementById("myBtn6").onclick = function () {
            myFunction6()
        };

        function myFunction6() {
            document.getElementById("myDropdown6").classList.toggle("dropdown-content");
        }

        document.getElementById("myBtn7").onclick = function () {
            myFunction7()
        };

        function myFunction7() {
            document.getElementById("myDropdown7").classList.toggle("dropdown-content");
        }

        document.getElementById("myBtn8").onclick = function () {
            myFunction8()
        };

        function myFunction8() {
            document.getElementById("myDropdown8").classList.toggle("dropdown-content");
        }

        document.getElementById("myBtn9").onclick = function () {
            myFunction9()
        };

        function myFunction9() {
            document.getElementById("myDropdown9").classList.toggle("dropdown-content");
        }

        document.getElementById("myBtn10").onclick = function () {
            myFunction10()
        };

        function myFunction10() {
            document.getElementById("myDropdown10").classList.toggle("dropdown-content");
        }

        document.getElementById("myBtn11").onclick = function () {
            myFunction11()
        };

        function myFunction11() {
            document.getElementById("myDropdown11").classList.toggle("dropdown-content");
        }

        document.getElementById("myBtn12").onclick = function () {
            myFunction12()
        };

        function myFunction12() {
            document.getElementById("myDropdown12").classList.toggle("dropdown-content");
        }


    </script>


</section>

<footer class="footer">
    Varvarigos Georgios, AM 5999.
</footer>

</html>

