body {
    margin-top: 20px;
    width: 100%;
}

.container {
    margin-top: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel-body:not(.two-col) {
    padding: 0;
}

.panel-body .radio, .panel-body .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.panel-body .list-group {
    margin-bottom: 0;

}

.margin-bottom-none {
    margin-bottom: 0;
}

.panel-body .radio label, .panel-body .checkbox label {
    display: block;

}

.footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    color: #35282d;
}