.footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    color: #35282d;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #f2f2f2;
}

.header {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: #2F2835;
    text-align: left;
    width: 100%;
    border-bottom: 1.5px solid #272525;
    padding: 7px;
}

.display-3 {
    padding-top: 5vmax;
}

.text-center {
    padding: 1rem;
}

.alpha {
 /*background: #ff9e2c;*/
  grid-column: 1;
}

.beta {
  /*background: #ff9e2c;*/
  grid-column: 2;
}

.container {
  display: grid;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
