html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #f2f2f2;
}

.text-center {
    padding: 1rem;
}

.container {
    display: grid;
}

/*.alpha {*/
/*    !*background: #ff9e2c;*!*/
/*    grid-column: 1;*/
/*}*/

.header1 {
    position: relative;
    text-align: center;
}

/*.beta {*/
/*    !*background: #ff9e2c;*!*/
/*    grid-column: 2;*/
/*}*/

.header2 {
    position: relative;
    text-align: center;
}

.btn {
    width: 50%;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top:13px;

}

.dropdown-content {
    width: 40%;
    margin: 0 auto;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

}

/*.dropdown-content a {*/
/*    color: black;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display:block;*/

/*}*/

/*emfanizei to dropdown*/
/*.dropdown:hover .dropdown-content {*/
/*  display: inline-block;*/
/*  width: 80%;*/
/*    text-align: left;*/
/*}*/

/*.dropdown-content a:hover {*/
/*  background-color: #ddd;*/
/*}*/

/*!*.dropcheck {*!*/
/*!*    position: absolute;*!*/
/*!*    left: -9999px;*!*/
/*!*    width: 300px;*!*/
/*!*}*!*/

/*!*.dropcheck:checked ~ .dropdown-content {*!*/
/*!*    display: block;*!*/
/*!*}*!*/

/*!*.dropcheck:checked + .dropbtn {*!*/
/*!*    background-color: #3e8e41;*!*/
/*!*}*!*/


.footer {
    position:fixed;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    color: #35282d;
}


/*!*div {*!*/
/*!*  display: flex;*!*/
/*!*  flex-direction: column;*!*/
/*!*  justify-content: center;*!*/
/*!*}*!*/
