{% load static %}
  <title>GV: AI EXPLAINNABILITY</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
<link rel="shortcut icon" href="{% static 'pages/Artificial-Intelligence-Trends.jpeg' %}"/>

<header class="header">
  <div class="header-text">Welcome to AI EXPLAINABILITY TOOL 2020</div>
</header>
<body>
<section class="landing-section landing-main">
  <div class="landing-section-content">
    <h1 class="brand">THE BOBBY BOI SPECIAL TOOL</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
       <div class="col-md-12">
            <div class="home-panel">
                <h2 class="title">Not sure what to do first? Start here!</h2>
                <div class="card-deck">
                    <a href="/resources">
                        <div class="card" style="background-color: white">
                            <div class="card-body">
                                <h3 span="" class="card-title">Read More</h3>
                                <p class="card-text">Learn more about explainability concepts, terminology, and tools before you begin.</p>
                            </div>
                        </div>
                      </a>
                    <a href="/data">
                        <div class="card" style="background-color: white; cursor: pointer;">
                            <div class="card-body">
                                <h3 span="" class="card-title">Try a Web Demo</h3>
                                <p class="card-text">Step through the process of explaining models to consumers with different personas in an interactive web demo that shows a sample of capabilities available in this toolkit.</p>
                            </div>
                            <br>
                            <img class="card-arrow" src="static/images/arrow-copy-3.png" alt="*">
                        </div>
                    </a>
                    <!--<a href="/videos">
                        <div class="card" style="background-color: white; cursor: pointer;">
                            <div class="card-body">
                                <h3 span="" class="card-title">Watch Videos</h3>
                                <p class="card-text">Watch videos to learn more about AI Explainability 360 toolkit.</p>
                            </div>
                            <br>
                            <img class="card-arrow" src="static/images/arrow-copy-3.png" alt="*">
                        </div>
                    </a>-->
                    <a href="https://arxiv.org/abs/1909.03012" target="_blank">
                        <div class="card" style="background-color: white">
                            <div class="card-body">
                                <h3 span="" class="card-title">Read a Paper</h3>
                                <p class="card-text">Read a paper describing how we designed AI Explainability 360 toolkit.</p>
                            </div>
                            <br>
                            <img class="card-arrow" src="static/images/arrow-copy-3.png" alt="*">
                        </div>
                    </a>
                    <!--<a href="/resources#tutorials">
                        <div class="card" style="background-color: white; cursor: pointer;">
                            <div class="card-body">
                                <h3 span="" class="card-title">Use Tutorials</h3>
                                <p class="card-text">Step through a set of in-depth examples that introduce developers to code that explains data and models in different industry and application domains.</p>
                            </div>
                            <br>
                            <img class="card-arrow" src="static/images/arrow-copy-3.png" alt="*">
                        </div>
                    </a>-->
                    <a href="/community">
                        <div class="card" style="background-color: white; cursor: pointer;">
                            <div class="card-body">
                                <h3 span="" class="card-title">Ask a Question</h3>
                                <p class="card-text">Join our AI Explainability 360 Slack Channel to ask questions, make comments, and tell stories about how you use the toolkit.</p>
                            </div>
                            <br>
                            <img class="card-arrow" src="static/images/arrow-copy-3.png" alt="*">
                        </div>
                    </a>
                </div>
            </div>
       </div>
    </div>
  </div>
  </section>
</body>
























<!--  <div class="button1">
    <a href="#" class="header-link">AI QUESTIONAIRE</a>
    </div>

    <div class="button2">
    <a href="#" class="header-link">AI TOOL</a>
    </div>

    <div class="button3">
    <a href="#" class="header-link">Read a paper</a>
    </div>

    <div class="button4">
    <a href="#" class="header-link">Read More</a>
    </div>

    </div>
  </div>
</section>
&lt;!&ndash;<section class="landing-section langing-features">
  <section class="landing-feature feature-music-services">
    <h2>Connect your favourite <span class="brand-text">mu</span>sic services</h2>
    <ul>
      <li>Spotify</li>
      <li>Deezer</li>
    </ul>
  </section>
  <section class="landing-feature feature-notifications">
    <h2>Get <span class="brand-text">n</span>otifications wherever you want them</h2>
    <ul>
      <li>Email</li>
      <li>Telegram</li>
    </ul>
  </section>
</section>&ndash;&gt;-->


