<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
      <title>GV: AI EXPLAINABILITY</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" type="text/css" href="page1.css" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="shortcut icon" href="{% static 'pages/Artificial-Intelligence-Trends.jpeg' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'pages/page1.css' %}">

      <header class="header">
         <div class="text">Welcome to AI EXPLAINABILITY TOOL 2020
         </div>
      </header>

  </head>

<body>
<div style="background: url(https://i.postimg.cc/ZnHTP71s/aircraft-airplane-boat-1575833.jpg)" class="page-holder bg-cover">

  <div class="container-fluid">
                <h1 class="display-3  text-white ">Not sure what to do first? Start here!</h1>
                    <div class="row">
                    <div class="col-sm">
                    <a href="/resources">
                        <div class="card" style="background-color: white">
                            <div class="card-body">
                                <h3 span="" class="card-title">Read More</h3>
                                <p class="card-text">Learn more about explainability concepts, terminology, and tools before you begin.</p>
                            </div>
                        </div>
                      </a>
                    </div>
                        <div class="col-sm">
                    <a href="/data">
                        <div class="card" style="background-color: white; cursor: pointer;">
                            <div class="card-body">
                                <h3 span="" class="card-title">Try a Web Demo</h3>
                                <p class="card-text">Step through the process of explaining models to consumers with different personas in an interactive web demo that shows a sample of capabilities available in this toolkit.</p>
                            </div>
                            <!--<br>
                            <img class="card-arrow" src="static/images/arrow-copy-3.png" alt="*">-->
                        </div>
                    </a>
                        </div>
                        <div class="col-sm">
                    <a href="https://arxiv.org/abs/1909.03012" target="_blank">
                        <div class="card" style="background-color: white">
                            <div class="card-body">
                                <h3 span="" class="card-title">Read a Paper</h3>
                                <p class="card-text">Read a paper describing how we designed AI Explainability 360 toolkit.</p>
                            </div>
                            <!--<br>
                            <img class="card-arrow" src="static/images/arrow-copy-3.png" alt="*">-->
                        </div>
                    </a>
                        </div>

                        <div class="col-sm">
                    <a href="/community">
                        <div class="card" style="background-color: white; cursor: pointer;">
                            <div class="card-body">
                                <h3 span="" class="card-title">Ask a Question</h3>
                                <p class="card-text">Join our AI Explainability 360 Slack Channel to ask questions, make comments, and tell stories about how you use the toolkit.</p>
                            </div>
                            <<!--br>
                            <img class="card-arrow" src="static/images/arrow-copy-3.png" alt="*">-->
                        </div>
                    </a>
                        </div>
                    </div>
                </div>
  </div>
<footer class="footer">
        Tsagketas Oresths, AM 6238 |
        Varvarigos Georgios, AM 5999 |
        Georgakopoulos Georgios, AM 6014 .
    </footer>
</body>
  </html>
























<!--  <div class="button1">
    <a href="#" class="header-link">AI QUESTIONAIRE</a>
    </div>

    <div class="button2">
    <a href="#" class="header-link">AI TOOL</a>
    </div>

    <div class="button3">
    <a href="#" class="header-link">Read a paper</a>
    </div>

    <div class="button4">
    <a href="#" class="header-link">Read More</a>
    </div>

    </div>
  </div>
</section>
&lt;!&ndash;<section class="landing-section langing-features">
  <section class="landing-feature feature-music-services">
    <h2>Connect your favourite <span class="brand-text">mu</span>sic services</h2>
    <ul>
      <li>Spotify</li>
      <li>Deezer</li>
    </ul>
  </section>
  <section class="landing-feature feature-notifications">
    <h2>Get <span class="brand-text">n</span>otifications wherever you want them</h2>
    <ul>
      <li>Email</li>
      <li>Telegram</li>
    </ul>
  </section>
</section>&ndash;&gt;-->


