<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>GV: AI EXPLAINABILITY</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--            crossorigin="anonymous"></script>-->
    <link rel="shortcut icon" href="{% static 'pages/Artificial-Intelligence-Trends.jpeg' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/indexpages.css' %}">

    <header class="header">
        <div class="text">Welcome to AI EXPLAINABILITY TOOL 2020
        </div>
    </header>

</head>

<body>
<div style="background: url(https://i.postimg.cc/ZnHTP71s/aircraft-airplane-boat-1575833.jpg)"
     class="page-holder bg-cover">

    <div class="container-fluid">
        <h1 class="display-3  text-white ">Not sure what to do first? Start here!</h1>
        <div class="row">
            <div class="col-sm">
                <a href="polls/">
                    <div class="card" style="background-color: white">
                        <div class="card-body">
                            <h3 span="" class="card-title">Take the Survey</h3>
                            <p class="card-text">Complete a questionnaire</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="/data">
                    <div class="card" style="background-color: white; cursor: pointer;">
                        <div class="card-body">
                            <h3 span="" class="card-title">Try a Web Demo</h3>
                            <p class="card-text">Do something</p>
                        </div>
                        <!--<br>
                        <img class="card-arrow" src="static/images/arrow-copy-3.png" alt="*">-->
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="polls/" target="_blank">
                    <div class="card" style="background-color: white">
                        <div class="card-body">
                            <h3 span="" class="card-title">Read a Paper</h3>
                            <p class="card-text">How we designed something</p>
                        </div>
                        <!--<br>
                        <img class="card-arrow" src="static/images/arrow-copy-3.png" alt="*">-->
                    </div>
                </a>
            </div>

            <div class="col-sm">
                <a href="/community">
                    <div class="card" style="background-color: white; cursor: pointer;">
                        <div class="card-body">
                            <h3 span="" class="card-title">Read More</h3>
                            <p class="card-text">Read something</p>
                        </div>
                        <!--br>
                        <img class="card-arrow" src="static/images/arrow-copy-3.png" alt="*">-->
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    Varvarigos Georgios, AM 5999.
</footer>
</body>
</html>

